body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3)),
            url(fondo.jpg);
        background-position: center center;
        background-attachment: fixed;
}


/* Añadir animación de entrada a todos los elementos dentro de la clase 'container' */
.container * {
    opacity: 0;
  transform: scale(0);
  animation: fadeInIcon 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }
  
  
  /* Añadir animación de salida a todos los elementos dentro de la clase 'container' al salir de la página */
  body.loading .container  * {
    animation: none; /* Anular la animación cuando el mouse está sobre el encabezado para que no se repita al pasar sobre el ícono */
    opacity: 1;
    transform: scale(1);
  }


  
  /* Definir las animaciones */
  @keyframes fadeInIcon {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  



.icono {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin-left: 35%;
    margin-top: 20px;
}

.icono {
    border: 7px solid rgba(0, 0, 0, 0.767);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.555);
}


  header:hover .icono {
    opacity: 1;
    transform: scale(1);
  }

  



a {
    text-decoration: none; 
    color: rgb(0, 0, 0); 
    text-align: center;
}

/* Opcional: Cambiar el color del enlace al pasar el mouse sobre él */
a:hover {
    color: rgb(255, 255, 255); /* Cambiar el color del texto del enlace a azul al pasar el mouse sobre él */
}

.titulo {
  text-align: center;
  font-family: 'Trebuchet MS';
  color: rgba(255, 255, 255, 0.466);
  margin-top: 0; 
  font-size: 3em;
  margin-bottom: -6%;
}

main {
  padding: 20px; /* Añade relleno alrededor de los elementos dentro de main */
}

.text {
  margin-right: 30px;
  margin-left: 30px;
}

.right-image {
  width: 100%; /* Hacer la imagen responsive */
  max-width: 356px; /* Establecer un ancho máximo */
  height: auto; /* Ajustar la altura automáticamente */
  margin: 20px 0; /* Añade margen en la parte superior e inferior de la imagen */
}



header h1 {
    text-align: center;
    line-height: 1;
    margin: 0;
}

.botones-container {
    background-color: rgba(255, 255, 255, 0.267); /* Cambia el color según tus preferencias */
    padding: 15px; 
    margin: 10px;
    width: auto ;
    margin-left: 20px;

  }


  .botones-container:hover {
    box-shadow: 0 0 20px rgba(170, 113, 172, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    animation: none; /* Anular la animación cuando el mouse está sobre el encabezado para que no se repita al pasar sobre el ícono */
    opacity: 1;
    transform: scale(1);
  }
  
  .img {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    justify-content: space-around;
    margin: 0 auto; /* Centrar el contenido */
  }
  
  .botones {
    display: flex;
    align-items: center; 
}

.botones img {
    max-width: 30px; 
    margin-right: 10px; 
}



.hipervinculoanimacion {
    text-decoration: none;
    color: black; 
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(252, 252, 252, 0);
  }

h2 {
    margin-bottom: 20px;
    color: rgb(44 49 46);
    text-align: center;
  }
  
  

  .nombres {
    text-align: center;
  }

  
  

  

